@import "../partials/variables";

.b-schedule-item {
  margin: 20px 0;
  //border: 2px solid darken($blue, 10%);

  //background: darken($blue, 10%);
  border-radius: 5px;
  text-align: left;
  //color: white;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .03), 0 5px 15px rgba(0, 0, 0, .06);
  box-shadow: 0 15px 35px rgba(50, 50, 93, .03), 0 5px 15px rgba(0, 0, 0, .06);
}

.b-schedule-item-header {

  &__date {
    background: $blue;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-top: 10px solid darken($blue, 10%);
  }

  &__time {
    display: block;
    font-size: 1.5em;
  }
}

.b-schedule-item-body {
  padding: 20px;

  &__title {
    margin-top: 20px;
    font-size: 1.5em;
  }

  &__place {
    color: lighten($dark-gray, 15%);
    letter-spacing: 1px;
  }

  &__summary {
    font-size: 0.8em;
    margin-top: 10px;
    color: lighten($dark-gray, 5%);
  }
}