@import "variables";

.b-navigation-bar {
  background-image: linear-gradient(271deg, $blue, $orange);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.b-nav-link {
  color: white;
  padding: 0 15px;
  font-weight: bold;

  &:hover {
    color: white;
  }
}

.b-section {

  &--dark {
    background: $blue;
    color: white;
  }

  &--highlighted {
    background: darken($blue, 30%);
    color: white;
  }
}

.b-footer {
  background: black;
  min-height: 80px;
  color: white;

  a {
    color: white;
  }
}